*  {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Segoe UI', 'Roboto Mono', Tahoma, Geneva, sans-serif;
}

body {
   background-color: #f8f9fa;
   color: #333;
   line-height: 1.6;
   padding: 20px
}

.container {
   max-width: 1000px;
   margin: 0 auto;
   background-color: white;
   border-radius: 10px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
   overflow: hidden;
}

a {
   display: inline-block;
   cursor: pointer;
   text-decoration: none;
   font-weight: bold;
}

.header-admin {
   background: linear-gradient(135deg, #6a11cb, #2575fc 100%);
   color: white;
   padding: 30px;
   text-align: center;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header {
   background: linear-gradient(135deg, #6a11cb, #2575fc 100%);
   color: white;
   padding: 30px;
   text-align: center;
}

.header h1 {
   font-size: 2.5rem;
   margin-bottom: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 15px;
}

.page-content {
   padding: 30px;
}

.article-row {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   border-bottom: 1px solid #e9ecef;
   transition: all 0.3s ease;
}

.article-row:hover {
   background-color: #f8f9fa;
   transform: translateY(-2px);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.button-row {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   transition: all 0.3s ease;
   gap: 15px
}

.article-button:hover {
   color: blue;
   transform: translateY(-3px);
   cursor: pointer;
   font-size: 1.1rem;
}

.article-title {
   cursor: pointer;
   flex: 3,
   display: flex;
   align-items: flex-start;
   gap: 15px;
}

.article-title i {
   font-size: 1.5rem;
   color: #6a11cb;
   margin-top: 5px
}

.article-date {
   flex: 1,
   tet-align: right;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.btn {
   padding: 12px 24px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-size: 16px;
   font-weight: bold;
   text-decoration: none;
}

.btnn {
   border: none;
   background: white;
   display: inline-block;
   cursor: pointer;
   text-decoration: none;
   font-weight: bold;
}

.form-actions {
   margin-top: 30px;
   padding-top: 20px;
   border-top: 1px solid #eee;
   display: flex;
   gap: 10px;
}

.btn-secondary {
    background-color: #95a5a6;
    color: white;
}

.btn-secondary:hover {
    background-color: #7f8c8d;
}

.btn-primary {
   background-color: #3498db;
   color: white;
}

.btn-primary:hover {
    background-color: #2980b9;
}
















